<div class="col">
<div class=" container-fluid">

  <div class="row">

        <div class="col-1 ">
          <div class="col-sm-auto bg-light sticky-top bfb">
              <div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">
                  <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                      <img  class="photo" src="http://assets.stickpng.com/thumbs/5847f9cbcef1014c0b5e48c8.png" />
                  </a>
                  <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center justify-content-between w-100 px-3 align-items-center">
                      <li class="nav-item">
                          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                              <i class="bi-house fs-1"></i>
                          </a>
                          
                      </li>
                      <li>
                          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                              <i class="bi-speedometer2 fs-1"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                              <i class="bi-table fs-1"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                              <i class="bi-heart fs-1"></i>
                          </a>
                      </li>
                      <li>
                          <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                              <i class="bi-people fs-1"></i>
                          </a>
                      </li>
                  </ul>
                  <div class="dropdown">
                      <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                          <i class="bi-person-circle h2"></i>
                      </a>
                      <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
                          <li><a class="dropdown-item" href="#">New project...</a></li>
                          <li><a class="dropdown-item" href="#">Settings</a></li>
                          <li><a class="dropdown-item" href="#">Profile</a></li>
                      </ul>
                  </div>
              </div>
          </div>
        </div>   
        
    

<div class="col-md-11">
          <nav class="navbar navbar-dark bg-primary navbar-fixed-tops cont ">
            <div class="container-fluid">
              <a class="navbar-brand"></a>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              </form>
            </div>
          </nav>
          <div>
            <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" >
              <div class="navbar-nav">
                <a routerLink="/cabinet" class="nav-item nav-link active" href="#">Gestion Cabinet <span class="sr-only">(current)</span></a>
                <a routerLink="/showEmpl" class="nav-item nav-link" href="#">Gestion Employées</a>
                <a routerLink="/magasin" class="nav-item nav-link" href="#">Gestion Magasin</a>
                <a routerLink="/finance" class="nav-item nav-link" href="#">Gestion Financière</a>

              </div>
            </div>
          </nav>
    </div>
<div class="col">
  <div class="container">
  <div class="row">
  <div class="col-10">   </div>
  <div class="col-2">   <button class="buton">fsqdgkqsj</button></div>
</div>
</div>
</div>


       

<div class=".col-md-3 .offset-md-3">

  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
    </tbody>
  </table>

</div>







</div>


    

    </div>
  </div>
</div>